## Import modules

In [17]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

## Load data

In [18]:
data = pd.read_csv('train.txt', sep="\t", header=None).iloc[1:]
data.columns = ["sentiment", "review"]

## Data at a glance

In [19]:
data

      sentiment                                             review
1             1  One of the other reviewers has mentioned that ...
2             1  A wonderful little production. <br /><br />The...
3             1  I thought this was a wonderful way to spend ti...
4            -1  Basically there's a family where a little boy ...
5             1  Petter Mattei's "Love in the Time of Money" is...
...         ...                                                ...
14995         1  *** out of ****<br /><br />Yep! Dressed To Kil...
14996        -1  Bobcat Goldthwait should be commended for atte...
14997         1  And it's not because since her days on "Claris...
14998        -1  A traveling couple (Horton and Hamilton)stumbl...
14999        -1  This film is deeply disappointing. Not only th...

[14999 rows x 2 columns]

## Data diversity

In [20]:
data.sentiment.value_counts()

-1    7609
1     7390
Name: sentiment, dtype: int64

In [ ]:
v = TfidfVectorizer()
x = v.fit_transform(df['sent'])